/* @media only screen and (max-width: 1650px) {
  .up > img {
    position: absolute;
    bottom: 20px;
    left: 90%;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1410px) {
  .up > img {
    position: absolute;
    bottom: 20px;
    left: 80%;
    transition: 1s;
  }
} */
@media only screen and (max-width: 1186px) {
 
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .sec-left {
    width: 50%;
  }
  .client p {
    background: #fff;
  }
  .sec-right {
    margin-top: 3%;
  }
  .diploma-group {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .diploma-text h3 {
    text-align: center;
    margin-top: 10px;
  }
  .up > img {
    position: absolute;
    bottom: 20px;
    left: 75%;
    transition: 1s;
  }
  scre .slider {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1100px) {

	header{
		min-height: 500px;
	}

	.flex{
		position: relative;	
	}
  div.phone {
    position: absolute;
    float: none;
    flex-direction: row;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  p.call_back{
	  margin: 0;
  }
  .call_back img{
	  top: 7px;
  }
}
@media only screen and (max-width: 1024px) {
  
  a.logo {
    padding-top: 12px;
  }
  p.phone {
    font-size: 18px;
  }
  p.call_back {
    margin-top: 0;
  }
  .call_back img {
    top: 9px;
  }
  .first {
    margin-top: 40px;
  }
  .client {
    background: none;
  }
  .client h4 {
    margin-top: 0;
  }
  .client > img:nth-child(3) {
    top: -5px;
  }
  .client p {
    padding-left: 10px;
    font-size: 12px;
  }
  div.stripe > div:nth-child(3) {
    margin-bottom: 40px;
  }
  div.up > img {
    bottom: -25px;
    left: 85%;
  }
  .up p {
    margin-right: 0;
  }
  body > section.last > div.bg,
  .up {
    height: 60px;
  }
  .up h2 {
    font-size: 18px;
  }
  .sip h3,
  .karkas h3 {
    border: 2px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background: #f3f0f4;
    width: 125px;
  }
  .sec-fifth {
    min-width: 260px;
    margin-bottom: 20px;
  }
  .sip a:hover,
  .karkas a:hover {
    border-bottom: none;
  }
  .second-right img {
    width: 70%;
    float: right;
    margin-top: 60px;
  }
  footer p.phone {
    margin-left: 0;
  }
}
@media only screen and (max-width: 970px) {
  .up img {
    width: 25%;
  }
}
@media only screen and (max-width: 840px) {
  .up {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  .client {
    max-width: 95%;
  }
}
@media only screen and (max-width: 768px) {
  div.up > img {
    bottom: 10px;
    left: 85%;
  }

  .footer-left {
    width: 55%;
  }
}
